.DataGrid{
    
}

.DataGrid table{
    width: 100%;
    border:none;
    border-spacing: 0;
    table-layout: fixed;
}

.DataGrid .row { 
    width: 100%; 
    display: table; 
    table-layout: fixed; 
}

.DataGrid .col { 
    display: table-cell; 
    box-sizing: border-box;
}

.DataGrid .table .header{
    color: #888;
    font-weight: bold;    
}

.DataGrid .table .header .col{
    padding: 10px 5px;
    border-bottom: 1px solid #CCC;
}

.DataGrid .table .body .row .col{
    padding: 10px 10px;
    border-bottom: 1px solid #DDD;
}

.DataGrid .table .body .row:last-child .col{    
    border-bottom: none;
}

.DataGrid .header .sorter{
    float: right;
    cursor: pointer;
    opacity: 0;
}

.DataGrid .header .sorter.sorter-active{
    opacity: 1;
}

.DataGrid .header .col:hover .sorter{
    opacity: 0.5;
}

.DataGrid .header .sorter .sort-arrows{

}

.DataGrid .header .sorter .sort-arrows:hover{
    
}

.DataGrid .header .sorter .sortIndex{
    color: #888;
    font-size: 80%;
    font-style: normal;
    padding-left: 3px;
}

.DataGrid .col .dataTypeString{
    text-align: left;
}

.DataGrid .col .dataTypeNumber{
    text-align: right;
}

.DataGrid .col .dataTypeBoolean{
    text-align: center;
}

.DataGrid .col .dataTypeDate{
    text-align: center;
}