.App {  
  height: 100%;
}

.App header{
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.App .grid-section{
  margin: 20px;
  padding: 20px;
  background-color: #FFF;
}

.App .col .active{
  color: green;
}

.App .col .inactive{
  color: red;
}